@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.bm-burger-button {
  display: flex;
  flex-direction: row-reverse;
}

#react-burger-menu-btn {
  height: 20px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
